a:hover {
    text-decoration: none;
}


/*Stilos Particulares - Modal*/

.text-modal{
	text-align: center;
	margin-left: 53px;
	font-size: 22px;
	font-weight: bold;
}

.icone-modal{
    text-align: center;
    margin-left: 173px;
    font-size: 96px;
    color: #f30606;
}

.text-modal-seg{
    text-align: center;
    font-size: 18px;
}